body{
  margin: 0 auto;
  padding: 0;
  width: 1440px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  font-weight: 400;
}

.page-header{
  background-color: #eeeeee;
}

a{
  text-decoration: none;
}

.main-navigation{
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
}

button{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  border: none;}

button:hover{
  background-color: #e74246;
  }

button:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.10);
  color: rgba(255, 255, 255, 0.30);
  }

.main-navigation-logo{
  content: "";
  display: inline-block;
  background-image: url("../img/nerds-logo.svg");
  width: 160px;
  height: 66px;
  background-repeat: no-repeat;
  margin-top: 50px;
  }

.main-navigation-list{
  list-style: none;
  }

.main-navigation a{
  color: #000000;
  }

.main-navigation a:hover{
  color: #fb565a;
  }

.main-navigation a:focus{
  color: rgba(0, 1, 1, 0.30);;
  }

.main-navigation a:active{
  border-bottom: 2px solid red;
  color: #000000;
  }

.advantages{
  background-color: #eeeeee;
  }

.slide-title{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  }

.features-item-caption{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  }

.button-green{
  background-color: #00ca74;
  }

.button-yellow{
  background-color: #efc84a;
  }

.button-green:hover{
  background-color: #00bc6c;
  }

.button-green:active{
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.10);
  color: rgba(255, 255, 255, 0.30);
  }

.button-yellow:hover{
  background-color: #eab534;
  }

.button-yellow:active{
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.10);
  color: rgba(255, 255, 255, 0.30);
  }

.presentation-caption{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  }

.presentation b{
  font-weight: 700px;
  text-transform: uppercase;
  }

.order{
  list-style: none;
  }

.presentation-table-item1{
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  }

.main-studio-logo-link img{
  opacity: 0.2;
  }

.main-studio-logo-link img:hover{
  opacity: 100;
  }

.main-studio-logo-link img:active{
  opacity: 0.1;
  }

.contacts-block-text b{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  }

.contacts-block-text p{
  line-height: 18px;
  color: #666666;
  }

.footer-social-text h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  }

.footer-social-icon{
  list-style: none;
  }

.modal-close-cross{
  opacity: 0.3;
  }

.modal-close-cross:hover{
  opacity: 100;
  }

.modal-close-cross:active{
  opacity: 0.1;
  }

.modal h2{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  }

.login-form label{
  font-weight: 700;
  }

.login-form input{
  border: 2px solid #d7dcde;
  outline: none;
  color: #444444;
  border-radius: 3px;
  }

.login-form textarea{
  border: 2px solid #d7dcde;
  outline: none;
  color: #444444;
  border-radius: 3px;
  }


.login-form input:hover{
  border-color: #b4b9bb;
  }

.login-form input:focus{
  border-color: #000000;
  color:  #000000;
  }

.login-form input:invalid{
  border-color: #e74246;
  color: #e74246;
  }

.login-icon-user::-webkit-input-placeholder,
.login-icon-mail::-webkit-input-placeholder,
.login-icon-text::-webkit-input-placeholder{
  font-family: "Roboto", Arial, sans-serif;;
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5);
  }

.page-main-container{
  background-color: #eeeeee;
  }

.page-main-container h1{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  }

.filter{
  list-style: none;
  line-height: 20px;
  }

.filter-label{
  cursor: pointer;
  }

.filters fieldset{
  border: none;
  }

.filters legend{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  }

.min-price,
.max-price{
  text-transform: uppercase;
  }

.filter a{
  color: #283136;
  }

.filter a:hover{
  color: #000000;
  }

.filter a:disabled{
  color: rgba(0, 0, 0, 0.3)
  }

.filter-button{
  background-color: #eeeeee;
  color: #000000;
  }

.filter-button:hover{
  background-color: #dfdfdf;
  }

.filter-button:active{
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.10);
  color: rgba(0, 0, 0, 0.30);
  }

.main-sorting-list{
  list-style: none;
  }

.main-sorting-list a{
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.30);
  }

.main-sorting-list a:hover{
  color: rgba(0, 0, 0, 0.60);
  }

.main-sorting-list a:focus{
  color: #000000;
  }

.main-sorting-list a:active{
  color: #000000;
  }

.sorting{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  }

.switch path{
  fill: rgba(0, 0, 0, 0.2);
  }

.switch path:hover{
  fill: #a6a6a6;
  }

.switch path:active{
  fill: #231f20;
  }

.switch-down path{
  fill: #010101;
  }

.switch-down{
  margin-right: 14px;
  }

.catalog-list{
  list-style: none;
  }

.order-caption{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  }

.order-text{
  color: #666666;
  }

.pagination-list{
  list-style: none;
  }

.pagination-list-numeral,
.pagination-list-next{
  background-color: #eeeeee;
  color: #000000;
  font-weight: 500;
  }

.pagination-list-numeral:hover,
.pagination-list-next:hover{
  background-color: #dfdfdf;
  }

.pagination-list-numeral:focus,
.pagination-list-next:focus{
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.10);
  color: rgba(0, 0, 0, 0.30);
  }

.button-active{
  border: 3px solid #dbdbdb;
  background-color: white;
  }

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

  /* Сеточные стили */

.main-navigation{
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
  min-height: 116px;
  margin-left: 140px;
  }

.main-navigation-list{
  display: flex;
  width: 440px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-right: 40px;
  }

.main-navigation-basket svg{
  margin-right: 26px;
  margin-top: 10px;
  }

.main-navigation-basket{
  padding-top: 58px;
  }

.slider{
  position: relative;
  width: 1160px;
  height: 428px;
  margin: 0 auto;
  }

.slider input[type=radio] {
  position:absolute;
  opacity:0;
  }

.slider-controls{
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 18px;
  margin-left: -99px;
  text-align: center;
  z-index: 1000;
  }

.slider-controls label{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 7px;
  background: white;
  border: 5px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  }

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
  }

.slider-controls .active{
  background: #c1c1c1
  }

  .slides{
   margin: 0;
   padding: 0;
   list-style: none;
   }

.slide{
  display: none;
  padding: 74px 0 80px 0;
  }

.slide-title{
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  }

.slide-description{
  width: 420px;
  margin: 0;
  margin-top: 27px;
  }

.slide .btn{
  display:block;
  width:240px;
  height: 50px;
  padding: 10px 0;
  margin-top: 40px;
  color:white;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
  }

.slide:nth-child(1){
  background-image:url("../img/nerdsindexslide1.png");
  background-repeat:no-repeat;
  background-position:100% 0;
  }

.slide:nth-child(2){
  background-image:url("../img/nerdsindexslide2.png");
  background-repeat:no-repeat;
  background-position:100% 10px;
  }

.slide:nth-child(3){
  background-image:url("../img/nerdsindexslide3.png");
  background-repeat:no-repeat;
  background-position:100% 0;
  }

.slide{
  display:none;
  }

#btn-1:checked ~ .slides .slide:nth-child(1){
  display: block;
  }

#btn-2:checked ~ .slides .slide:nth-child(2){
  display: block;
  }

#btn-3:checked ~ .slides .slide:nth-child(3){
  display: block;
  }

.features-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  min-height: 424px;
  margin-left: 140px;
  margin-top: 80px;
  margin-bottom: 3px;
  }

.features-item{
  width: 300px;
  }

.features-item-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 160px;
  height: 50px;
  margin: 0;
  margin-top: 34px;
  }

.features-item-text{
  margin: 0;
  margin-top: 16px;
  width: 246px;
  }

.features-item-caption{
  margin: 0;
  margin-top: 18px;
  }

.button-green,
.button-yellow{
  margin-top: 34px;
  }

.presentation-block-description{
  display: flex;
  flex-direction: row;
  width: 1160px;
  height: 525px;
  margin-left: 140px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  }

.presentation-description{
  display: flex;
  flex-direction: column;
  width: 660px;
  margin-top: 75px;
  margin-right: 140px;
  }

.presentation-table{
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  width: 360px;
  }

.presentation-caption{
  margin: 0;
  margin-bottom: 34px;
  }

.presentation-lead{
  margin: 0;
  margin-bottom: 38px;
  }

.list-orders{
  padding: 0;
  margin: 0;
  margin-top: 25px;
  }

.dash{
  margin-right: 11px;
  margin-bottom: 5px;
  }

.list-orders li{
  margin-bottom: 24px;
  }

.presentation-table-logo{
  margin-bottom: 35px;
  }

.presentation-table-list{
  min-height: 116px;
  }

.presentation-table b{
  margin-left: 15px;
  margin-bottom: 38px;
  }

.presentation-table-item2 td{
  line-height: 18px;
  }

.presentation-table-item1 td{
  padding: 0;
  padding-right: 22px;
  }

.presentation-table-item1 sup{
  font-size: 24px;
  top: -15px;
  }

.presentation-logo{
  margin-top: 5px;
  display: flex;
  width: 1160px;
  height: 168px;
  padding-top: 8px;
  justify-content: space-around;
  align-items: center;
  margin-left: 140px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 78px;
  }

.link1{
  margin-top: 6px;
  margin-left: 3px;
  }

  .link2{
    margin-top: -3px;
    margin-left: -3px;
    }

.contacts{
  position: relative;
  }

.contacts-block{
  display: flex;
  flex-direction: column;
  width: 319px;
  height: 309px;
  background-color: white;
  position: absolute;
  top:54px;
  left:140px;
  }

.contacts-block-button{
  display: flex;
  width: 219px;
  height: 51px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 36px;
  }

.contacts-block-text{
  margin-top: 52px;
  margin-left: 50px;
  width: 202px;
  }

.address{
  margin: 0;
  margin-top: 26px;
  }

  .phone{
    margin: 0;
    margin-top: 20px;
  }

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  }

.social-button:hover{
  background-color: #e74246;
  }

.social-button:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.10);
  }

.social-button svg:active{
  fill: #e37376;
  }

.footer-social{
  display: flex;
  align-items: center;
  margin-top: 52px;
  }

.footer-social-icon{
  display: flex;
  width: 260px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: 140px;
  margin-right: 140px;
  }

.footer-social-text h3{
  margin: 0;
  margin-bottom: 6px;
  }

.footer-social-text p{
  margin: 0;
  }

.modal{
  display: flex;
  position: absolute;
  z-index: 10;
  top:1707px;
  left: 240px;
  width: 860px;
  height: 520px;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 100px;
  /* временно */
  background-color: #ffffff;
  box-shadow:  0  20px 40px  rgba(0, 1, 1, 0.75);
  }

.modal-login{
  display: none;
  }

.modal-body{
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 23px;
  }

.modal-caption{
  display: flex;
  width: 771px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  }

.login-icon-user,
.login-icon-mail{
  width: 358px;
  height: 45px;
  margin-top: 5px;
  }

.login-icon-text{
  width: 754px;
  height: 110px;
  margin-top: 5px;
  }

.login-icon-user::-webkit-input-placeholder,
.login-icon-mail::-webkit-input-placeholder{
  padding-left: 14px;
  }

.login-icon-text::-webkit-input-placeholder{
  padding-left: 12px;
  padding-top: 9px;
  }

.appointment-button{
  width: 260px;
  height: 51px;
  border-radius: 3px;
  }

.login-form-item1,
.login-form-item2{
  width: 360px;

  }

.modal label{
  margin-bottom: 13px;
  }

.login-form-item3{
  width: 760px;
  }

.modal-caption{
  display: flex;
  }

.modal-caption h2{
  margin: 0;
  }

  /* catalog */

.page-header.catalog{
  height: 356px;
  }

.page-main-container h1{
  margin: 0;
  margin-top: 75px;
  margin-left: 358px;
  }

.filters{
  display: flex;
  width: 260px;
  margin-left: 140px;
  margin-top: 59px;
  margin-right: 140px;
  }

.filters fieldset{
  margin: 0;
  padding: 0;
  }

.wrapper-sorting{
  display: flex;
  flex-direction: row;
  }

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  }

.main-sorting{
  display: flex;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 52px;
  }

.main-sorting-list{
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 23px;
  margin-top: 3px;
  }

.main-sorting-list li{
  padding-right: 25px;
  }

.main-sorting-list li:nth-child(3){
  padding-right: 28px;
  }

.sorting-active a{
  color: #000000;
  }

.sorting{
  margin-right: 266px;
  }

.switch a{
  padding-right: 12px;
  }

.pagination-list{
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 60px;
  }

.pagination-list-numeral{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border: 0;
  border-radius: 3px;
  }

.pagination-list-next{
  display: block;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  border: 0;
  border-radius: 3px;
  }

.pagination-active{
  border: 3px solid #dbdbdb;
  background-color: white;
  }

.pagination-list li{
  padding-right: 11px;
  }

.range-filter {
  width: 260px;
  margin-top: 53px;
  margin-bottom: 60px;
  }

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  }

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
  }

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
  }

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  }

.range-controls .toggle-min {
  left: 18px;
  }

.range-controls .toggle-max {
  left: 160px;
  }

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  }

.price-controls {
  font-size: 0;
  }

.catalog-item-browser{
  height: 40px;
  }

.price-controls input {
  width: 80px;
  padding: 9px 0;
  margin-left: 9px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  }

.max-price {
  text-align: right;
  }

.filter-grid-list,
.filter-features-list{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom:48px;
  }

.filter-grid legend{
    margin-bottom: 18px;
  }

.filter-features legend{
  margin-bottom: 23px;
  }

.filter-grid-list li{
  margin-bottom: 15px;
  }

.filter-features-list li{
  margin-bottom: 16px;
  }

.filter-button{
  display: inline-block;
  width: 260px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  }

.filter-input ~ .filter-label::before {
  content: "";
  display: inline-block;
  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 11px;
  opacity: 0.4;
  }

.filter-input:checked ~ .filter-label::before {
  content: "";
  display: inline-block;
  background-image: url("../img/radio-on.svg");
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 11px;
  opacity: 0.4;
  }

.filter-input2 ~ .filter-label::before {
  content: "";
  display: inline-block;
  background-image: url("../img/checkbox-off.svg");
  width: 26px;
  height: 23px;
  background-repeat: no-repeat;
  margin-right: 11px;
  vertical-align: middle;
  opacity: 0.4;
  }

.filter-input2:checked ~ .filter-label::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  background-image: url("../img/checkbox-on.svg");
  width: 26px;
  height: 23px;
  background-repeat: no-repeat;
  opacity: 0.4;
  }

.filter-label:hover::before{
  opacity: 100;
  }

.filter-input2:checked ~ .filter-label:hover::before{
  opacity: 100;
  }

.filter-input:checked ~ .filter-label:hover::before{
  opacity: 100;
  }

.filter-input:disabled ~ label::before{
  opacity: 0.1;
  }

.filter-input:checked:disabled ~ label::before{
  opacity: 0.1;
  }

.filter-input2:disabled ~ label::before{
  opacity: 0.1;
  }

.filter-input2:checked:disabled ~ label::before{
  opacity: 0.1;
  }

.filter-label{
  color: #283136;
  }

.filter-input:hover ~ .filter-label,
.filter-input2:hover ~ .filter-label{
  color: #000000;
  }

.filter-input:disabled ~ label,
.filter-input2:disabled ~ label{
  color: rgba(40, 49, 54, 0.3);
  }

.line{
  width: 3px;
  height: 52px;
  background-color: #eeeeee;
  }

.container-footer{
  margin-top: 63px;
  margin-bottom: 77px;
  }

.container-footer-catalog{
  margin-top: 68px;
  }

.footer-social-text-catalog h3{
  margin-bottom: 7px;
  }

.catalog-item{
  position: relative;
  margin-bottom: 26px;
  }

.catalog-item-order p{
  margin: 0;
  }

.catalog-item:hover .main-images-svg{
  fill: #4d4d4d;
  }

.catalog-item:hover .catalog-item-order{
  display: flex;
  }

.catalog-item-order{
  display: none;
  flex-direction: column;
  align-items: center;
  width: 360px;
  min-height: 231px;
  text-align: center;
  background-color: #eeeeee;
  position: absolute;
  z-index: 1;
  top: 388px;
  }

.order-button{
  display: block;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  }

.order-caption{
  padding-top: 28px;
  padding-bottom: 17px;
  }

.order-text{
  width: 224px;
  padding-bottom: 32px;
  line-height: 19px;
  }

.order-text1{
  width: 200px;
  }
